<div class="wrap">
  <div class="side-bar">
    <% if user_signed_in? %>
      <div class="myname"><%= current_user.nickname %></div>
    <div><%= link_to 'ログアウト',destroy_user_session_path, method: :delete,    class:"logout"%></div>
    <div><%= link_to 'マイページ',user_path(current_user.id), method: :get, class:"mypage"%></div>
    <% else %>
    <div><%= link_to 'ログイン', new_user_session_path , class:"login" %></div>
    <div><%= link_to '新規登録',new_user_registration_path, class:"sign-up"%></div>
    <% end %>
    <div><%= link_to '投稿',  new_tweet_path, class:"tweet-up"%></div>
  </div>
  <div class="main-contents">
    <%if @tweets.length !=0 %>
      <% @tweets.each do |tweet| %>
        <%= link_to tweet_path(tweet), method: :get do %>
          <div class="description">
            <%= tweet.description %>
          </div>
            <div class="play">
              <%= tweet.play %>
            </div>
            <%= image_tag tweet.image.variant( resize: '300x300'),class: "image" if tweet.image.attached? %>
          <% end %>
      <% end %>
    <% else %>
     <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ１" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test.jpg",  size: '300x300' , class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ2" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test2.jpg", size: '300x300', class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ3" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test3.jpg", size: '300x300', class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ4" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test4.jpg", size: '300x300', class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ5" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test5.jpg", size: '300x300', class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ6" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test6.jpg", size: '300x300', class: "image" %>
        <% end %>
         <%= link_to '#' do %>
          <div class="description">
            <%= "ダミーデータ１" %>
          </div>
            <div class="play">
              <%= "これはダミー投稿です。" %>
            </div>
            <%= image_tag "test.jpg", size: '300x300', class: "image" %>
        <% end %>
    <% end %>
  </div>
</div>