<li><%= link_to 'ログイン', new_user_session_path , class:"login" %></li>
<li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class:"logout"%></li>
<li><%= link_to '新規登録',new_user_registration_path, class:"sign-up"%></li>
<li><%= link_to '投稿',  new_tweet_path, class:"tweet-up"%></li>
<div class="contents">
  <% @tweets.each do |t| %>
  <%= t.description %>
  <%= t.play %>
  <%= image_tag (@tweets.image)%>
  <% end %>
</div> 