<div class="tweet-wrap">
  <h2>投稿画面</h2>
  <%= form_with model:@tweet,local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="tweet-group">
      <%= f.text_field :description, class:"tweet-description", id:"tweet-info", placeholder:"叶えたい夢のタイトル" %>
    </div>
    <div class="tweet-group">
      <div class="tweet-play">
        <%= f.text_area :play, class:"tweet-text", id:"tweet-info", placeholder:"行動した事これからする事！"%>
      </div>
    </div>
    <div class="tweet-group">
      <p>
        勉強、練習などの写真、スクリーンショットなどをあげよう
      </p>
    </div>
    <div class="tweet-group">
      <div class="tweet-img">
        <%= f.file_field :image, id:"tweet-imag"%>
      </div>
    </div>
    <div class="tweet-btn-content">
      <%= f.submit "投稿する", class:"tweet-btn"%>
    </div>
    <div class="bacl-btn">
      <%= link_to '戻る', root_path, class:"back-btn-b"%>
  <% end %> 
</div>