<h3>詳細</h3>
<%= image_tag @tweet.image.variant( resize: '500x500') ,class:"show-image" if @tweet.image.attached? %>
<%= @tweet.description%>
<%= @tweet.play%>
<%= @tweet.user.nickname %>
<div>
<%= link_to "削除", tweet_path(@tweet), method: :delete, class: :tweet_delete %>
</div>