<div class="show-group">
  <div class="show-wrap">
      <h2>詳細ページ</h2>
  </div>
  <div class="show-wrap">
    <div class="show_name">
      <%=link_to "投稿者 #{ @tweet.user.nickname}",user_path(@tweet.user_id) , method: :get , class: :show_name%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-description">
    <h4>
    タイトル
    </h4>
      <%= @tweet.description%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-play">
    <h4>
    行動
    </h4>
      <%= @tweet.play%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-img">
      <%= image_tag @tweet.image.variant( resize: '500x500') ,class:"show-image" if @tweet.image.attached? %>
    </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, class: :com_text,placeholder: "コメントする", rows: "2" %>
        <%= form.submit "送信" %>
      <% end %>
    <% else %>
      <h6>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</h6>
    <% end %>
        <div class="comments">
      <h5>＜コメント一覧＞</h5>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="show-wrap">
    <div>
    <%= link_to "削除", tweet_path(@tweet), method: :delete, class: :tweet_delete %>
    </div>
  </div>
</div>
