<div class="show-group">
  <div class="show-wrap">
      <h2>詳細ページ</h2>
  </div>
  <div class="show-wrap">
    <div class="show_name">
      <%=link_to "投稿者 #{ @tweet.user.nickname}",user_path(@tweet.user_id) , method: :get , class: :show_name%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-description">
    <h4>
    タイトル
    </h4>
      <%= @tweet.description%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-play">
    <h4>
    行動
    </h4>
      <%= @tweet.play%>
    </div>
  </div>
  <div class="show-wrap">
    <div class="show-img">
      <%= image_tag @tweet.image.variant( resize: '500x500') ,class:"show-image" if @tweet.image.attached? %>
    </div>
  </div>
  <div class="show-wrap">
    <div>
    <%= link_to "削除", tweet_path(@tweet), method: :delete, class: :tweet_delete %>
    </div>
  </div>
</div>
