<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>yumecoot</title>
    <meta name="descripton" content="夢の語り場所。自身の夢の投稿！人の夢を応援！">
    <meta charset= "UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/user/registrations", :media => "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel= "stylesheet" href="stylesheets/rest.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
