<!DOCTYPE html>
<html>
  <head>
    <title>yumecoot</title>
    <meta name="descripton" content="自身の夢の投稿！人の夢を応援！">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/user/registrations", :media => "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel= "stylesheet" href="stylesheets/rest.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
